.home {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin-top: 20px;
  display: flex;
  width: 80%;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  justify-content: space-between;
  border: 3px solid white;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  color: black;

  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}
.logo {
  height: 90px;
}
.loginbutton {
  height: 50px;
  margin-top: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.subpage {
  display: flex;
  justify-content: center;
  font-size: 32px;
}
.oni {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  height: 60px;
}
.oni:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
  cursor: pointer;
}
.loginbutton:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
  cursor: pointer;
}
